@import url('https://fonts.googleapis.com/css2?family=Acme&family=Mogra&family=Varela+Round&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
}
:root{
    --blue: #16A6A7;
    --yellow: #F69D01;
    --pink: #FE4169;
    --navy: #222248;
    --lightnavy: #74748C;
    --lightblue: #565671;
    --black: #000000;
    --white: #ffffff;
    --lightgrey: #afacac;
    --aliceblue: #F0F8FF;
}
header{
    margin-top: 0;
    padding-top: 0;
}
header .logo{
    display: flex;
    justify-content: center;
}
header .logo img{
    width: 150px;
    object-fit: cover;
}
main .links a{
    text-decoration: none;
    color: var(--navy);
}
main .links a:first-of-type{
    border-bottom: 2px solid var(--blue);
}
main .links{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 40px;
}
input[type=text], input[type=password]{
    width: 80%;
    padding: 9px 7px;
    margin: 5px 0;
    margin-left: 20px;
    border-radius: 4px;
    border: 1px solid var(--lightblue);
}
input[type=text]:focus, input[type=password]:focus{
    outline: none;
}
label[for=user], label[for=password]{
    margin-left: 19px;
    color: var(--navy);
}
form a{
    color: var(--navy);
    margin: 21px;
    font-size: 13px;
}
input[type=checkbox]{
    padding: 14px 20px;
    margin-left: 20px;
}
label[for=save]{
    font-size: 14px;
}
input[type=checkbox], label[for=save]{
    margin-top: 13px;
}
form div{
    font-size: 12px;
    margin: 12px 55px 7px 20px;
}
input[type=submit]{
    width: 80%;
    background-color: var(--navy);
    color: var(--white);
    text-align: center;
    padding: 14px 20px;
    margin: 8px 0;
    margin-left: 20px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
}
input[type=submit]:hover{
    background-color: var(--yellow);
}
main .sign-up{
    text-align: center;
    display: none;
    margin-top: 20px;
}
main .sign-up a{
    text-decoration: underline;
    border: none;
    color: var(--navy);
    border-radius: 5px;
}
footer{
    text-align: center;
    color: grey;
}

@media screen and (min-width:500px){
    main .links a:last-of-type{
        margin-right: 50px;
    }
}

@media screen and (min-width:700px){
    main .links{
        display: flex;
        justify-content: space-evenly;
    }
    input[type=text], input[type=password], form div, form a, input[type=submit], input[type=checkbox], label[for=user], label[for=password]{
        margin-left: 80px;
    }
}

@media screen and (min-width:1000px) {
    main .links a:first-of-type{
        font-size: 25px;
    }
    main .links a:last-of-type{
        display: none;
    }
    main .links{
        display: block;
        margin: 0;
    }
    body{
        overflow-y: hidden;
    }
    main .form{
        border: 3px solid transparent;
        border-radius: 5px;
        padding: 10px 10px;
        padding-top: 20px;
        background-color: var(--lightgrey);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    main .sign-up{
        display: block;
        margin-top: 30px;
    }
    main{
        transform: matrix(1, 0, 0, 0.79, 0, -50);
        width: 46%;
        margin: auto;
    }
    input[type=text], input[type=password], form div, form a, input[type=submit], input[type=checkbox]{
        margin-left: 50px;
        border: none;
        color: var(--navy);
        border-radius: 5px;
        padding: 12px 10px;
    }
    input[type=password]{
        margin-bottom: 8px;
    }
    label[for=user], label[for=password]{
        margin-left: 50px;
        color: var(--navy);
    }
    form a{
        font-size: 15px;
        margin-left: 41px;
    }
    input[type=submit]{
        border-radius: 5px;
        color: white;
        transition: all 0.4s;
    }
    form div{
        color: black;
        font-size: 14px;
        margin-left: 40px;
        margin-top: 0;
        margin-bottom: 0;
    }
    input[type=text]:focus, input[type=password]:focus{
        border-bottom: 2px solid var(--navy);
        border-radius: 0;
    }
}